table(width="554" align="center" style="display:none" class="mobile-show mobile-table-100")&attributes(tableAtt)
  tr
    td(align="center" class="" bgcolor=white)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(align="center" class="" style="background-color:#ffffff;")
            table(align="center" width="100%")&attributes(tableAtt)
              +vSpacer(10)
              tr
                td(align="center" class="" style="font-size: 12px;line-height: 15px;color: #0474C7;")
                  a(href='https://www.actharrheumatologyhcp.com/veevaemails/raphase4', target='_blank' style="color: #0474C7;" class="tUnderline fontFamily") Click here to view this email in your web browser
              +vSpacer(10)