//- Used to define variables, this must be load in index.pug and each fragment
block variables
  -var fallback = "Arial, Open Sans, Helvetica, sans-serif"
  -var title = "RA Phase 4 Email"
  -var white = "#ffffff"
  -var max_w = 600
  -var mob = 480
  -var img_path = "./img/"
  -var bg_color= "#ffffff"
  -var externalFonts = []
