table(width="600" align="center" class="mobile-table" bgcolor="#FFFFFF")&attributes(tableAtt)
  tr
    td(align="left" class="bodyMain4" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        +vSpacer(20)
        tr
          td(width="100%" height="1" style="font-size:0px; line-height:1px;mso-line-height-rule:exactly;" colspan="1") &nbsp; <a name="isi-link"></a>
        tr
          td(align="left" class="isi_Title f_bold fontFamily") IMPORTANT SAFETY INFORMATION (cont’d) <a name="isi-link" id="isi-link"></a>
        +vSpacer(15)
        tr
          td(align="left" class="isi_subTitle f_bold fontFamily") Warnings and Precautions
  tr
    td(align="left" class="bodyMain3 padT15" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") The adverse effects of Acthar are related primarily to its steroidogenic effects
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Acthar may increase susceptibility to new infection or reactivation of latent infections
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;         
          td(align="left" class="fSize16ISI") Suppression of the hypothalamic-pituitary-adrenal (HPA) axis may occur following prolonged therapy with the potential for adrenal insufficiency after withdrawal of the medication. Adrenal insufficiency may be minimized by tapering of the dose when discontinuing treatment. During recovery of the adrenal gland patients should be protected from the stress (e.g. trauma or surgery) by the use of corticosteroids. Monitor patients for effects of HPA suppression after stopping treatment
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Cushing’s syndrome may occur during therapy but generally resolves after therapy is stopped. Monitor patients for signs and symptoms
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Acthar can cause elevation of blood pressure, salt and water retention, and hypokalemia. Blood pressure, sodium, and potassium levels may need to be monitored
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Acthar often acts by masking symptoms of other diseases/disorders. Monitor patients carefully during and for a period following discontinuation of therapy
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Acthar can cause GI bleeding and gastric ulcer. There is also an increased risk for perforation in patients with certain gastrointestinal disorders. Monitor for signs of bleeding
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Acthar may be associated with central nervous system effects ranging from euphoria, insomnia, irritability, mood swings, personality changes, and severe depression to psychosis. Existing conditions may be aggravated
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Patients with comorbid disease may have that disease worsened. Caution should be used when prescribing Acthar in patients with diabetes and myasthenia gravis
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") 	Prolonged use of Acthar may produce cataracts, glaucoma, and secondary ocular infections. Monitor for signs and symptoms
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Acthar is immunogenic and prolonged administration of Acthar may increase the risk of hypersensitivity reactions. Neutralizing antibodies with chronic administration may lead to loss of endogenous ACTH activity
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") There is an enhanced effect in patients with hypothyroidism and in those with cirrhosis of the liver
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") 	Long-term use may have negative effects on growth and physical development in children. Monitor pediatric patients
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Decrease in bone density may occur. Bone density should be monitored for patients on long-term therapy
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Pregnancy Class C: Acthar has been shown to have an embryocidal effect and should be used during pregnancy only if the potential benefit justifies the potential risk to the fetus
  tr
    td(align="left" class="bodyMain41" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="isi_subTitle f_bold fontFamily") Adverse Reactions
  tr
    td(align="left" class="bodyMain3 padTZero" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Common adverse reactions for Acthar are similar to those of corticosteroids and include fluid retention, alteration in glucose tolerance, elevation in blood pressure, behavioral and mood changes, increased appetite, and weight gain
  tr
    td(align="left" class="bodyMain3" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" valign="top" width="5" class="bPointISI") &bull;
          td(align="left" width="12") &nbsp;
          td(align="left" class="fSize16ISI") Specific adverse reactions reported in IS clinical trials in infants and children under 2 years of age included: infection, hypertension, irritability, Cushingoid symptoms, constipation, diarrhea, vomiting, pyrexia, weight gain, increased appetite, decreased appetite, nasal congestion, acne, rash, and cardiac hypertrophy. Convulsions were also reported, but these may actually be occurring because some IS patients progress to other forms of seizures and IS sometimes masks other seizures, which become visible once the clinical spasms from IS resolve           
  tr
    td(align="left" class="bodyMain4" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        +vSpacer(12)
        tr
          td(align="left" class="isi_subTitle f_bold fontFamily") Other adverse events reported are included in the full Prescribing Information.
        +vSpacer(15)
  tr
    td(align="left" class="bodyMain4" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="isi_subTitle f_bold fontFamily") Please see full <a class='anchor tUnderline' href='http://www.acthar.com/pdf/Acthar-PI.pdf' target='_blank' style="color: #0474C7;">Prescribing Information</a> for additional Important Safety Information.
        +vSpacer(15)        
  tr
    td(align="left" class="bodyMain10" bgcolor="#F5F5F5")
      table(align="left" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="isi_ref") <span class='f_bold'>References: 1.</span> Fleischmann R, Furst DE, Connolly-Strong E, Liu J, Zhu J, Brasington R. Repository corticotropin injection for active rheumatoid arthritis despite aggressive treatment: A randomized controlled withdrawal trial. <span class='f_italic'>Rheumatol Ther</span>. Published online March 17, 2020. doi: 10.1007/s40744-020-00199-3. <span class='f_bold'>2.</span> Fleischmann R, Furst DE, Connolly-Strong E, Liu J, Zhu J, Brasington R. A multicenter study assessing the efficacy and safety of repository corticotropin injection in patients with persistently active rheumatoid arthritis. Poster presented at: European Congress of Rheumatology; June 12-15, 2019; Madrid, Spain.