table(width="600" align="center" class="mobile-hide")&attributes(tableAtt)
  tr
    td(align="center" class="" bgcolor=white)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(align="center" style="background-color:#ffffff;")
            table(align="center" width="100%")&attributes(tableAtt)
              +vSpacer(10)
              tr
                td(align="center" class="" style="font-size: 12px;line-height: 15px;color: #0474C7;")
                  a(href='', target='_blank' style="color: #0474C7;" class="tUnderline") Click here to view this email in your web browser
              +vSpacer(10)