//- Used to define variables, this must be load in index.pug and each fragment
block variables
  -var fallback = "Open Sans, Helvetica, Arial, sans-serif"
  -var title = "Email Template"
  -var white = "#ffffff"
  -var max_w = 600
  -var mob = 480
  -var img_path = "./img/"
  -var bg_color= "#eeeeee"
  -var externalFonts = []
