table(width="600" align="center" class="mobile-table" bgcolor="#FFFFFF")&attributes(tableAtt)  
  tr
    td(align="left" class="bodyMain5" bgcolor="#4C4C4C")
      table(align="left" width="100%")&attributes(tableAtt)
        +vSpacer(30)
        tr
          td(align="left")
            table(align="left" width="")&attributes(tableAtt)
              tr
                td(width="")
                  a(href="https://mallinckrodt.com/" target="_blank")
                    img(src=img_path+"mLogo.png" class="logo-mob mkLogo" alt="Mallinckrodt Logo" width="195" style="border:0; display:block;")
                +hSpacer(20)
                td(height="65" width="1" style="background-color:#ffffff;" class="h45")
                +hSpacer(20)
                td(align="left")
                  a(href="https://www.actharrheumatologyhcp.com/?utm_source=veeva&utm_medium=email&utm_campaign=ra_phase_iv_update&utm_content=acthar_logo_footer" target="_blank")
                    img(src=img_path+"AlogoWhite.png" class="logo-mob acthar-logo ALogo" alt="Acthar Gel Logo" width="164" style="border:0; display:block;")
        +vSpacer(32)
        tr
          td(align="left" class="F_Text") Mallinckrodt Pharmaceuticals<br/>1425 U.S. Route 206<br/>Bedminster, NJ 07921
        +vSpacer(15)
        tr
          td(align="left" class="F_Text") Mallinckrodt, the “M” brand mark and the Mallinckrodt Pharmaceuticals logo are <br style='display:none' class='mobile-show'/>trademarks of a <a href='https://mallinckrodt.com/' target='_blank' class="footerLink tUnderline">Mallinckrodt company</a>. Other brands are trademarks of a Mallinckrodt company or their respective owners. &copy; 2020 Mallinckrodt. The product information provided in this email is intended only for residents of the United States. US&#8209;2000213&nbsp;06/20
        +vSpacer(15)
        tr
          td(align="left" class="F_Text") If you no longer wish to receive emails from Mallinckrodt, <a href='{{unsubscribe_product_link}}' class="footerLink tUnderline"><span class="footerLink tUnderline">unsubscribe now</span></a>.                    
        +vSpacer(15)
        tr
          td(align="left" class="F_Text")
            table(align="left")&attributes(tableAtt)
              tr
                td(align="left" class="F_Text")
                  <a href='https://www.mallinckrodt.com/terms-of-use/' class='anchor footerLink padR5 tUnderline' target='_blank'>Terms of Use</a>&nbsp;|&nbsp;<a href='https://www.mallinckrodt.com/privacy-policy/' class='anchor footerLink padL5 tUnderline' target='_blank'>Privacy Policy</a>